.section {
  background: var(--color-green-contact);
  overflow: hidden;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
  min-height: 725px;
  padding-block: 64px;
}

.visual,
.content {
  position: relative;
  z-index: 1;
}

.visual {
  display: flex;
  justify-content: center;
  align-items: center;
}

.decor {
  position: absolute;
  pointer-events: none;
  height: auto;
  z-index: 0;
}

.roseTopLeft {
  width: 344px;
  top: -178px;
  left: -131px;
}

.roseTopRight {
  width: 373px;
  top: -262px;
  right: -115px;
}

.roseBottomLeft {
  width: 296px;
  bottom: -243px;
  left: -46px;
}

.roseBottomRight {
  width: 385px;
  bottom: -314px;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 809.98px) {
  .container {
    grid-template-columns: 1fr;
    min-height: auto;
    padding-block: 48px;
  }

  .visual {
    order: 2;
  }

  .content {
    order: 1;
  }

  .roseTopLeft {
    width: 206px;
    top: -67px;
    left: -40px;
  }

  .roseTopRight {
    width: 154px;
    top: -146px;
    right: -99px;
  }

  .roseBottomLeft {
    width: 201px;
    bottom: -190px;
    left: -140px;
  }

  .roseBottomRight {
    width: 210px;
    top: 171px;
    right: -137px;
    bottom: unset;
  }
}

@media (min-width: 810px) and (max-width: 1199.98px) {
  .container {
    gap: 32px;
  }

  .roseTopLeft {
    top: -303px;
    left: -201px;
  }

  .roseTopRight {
    top: -423px;
    right: -186px;
  }

  .roseBottomLeft {
    bottom: -369px;
    left: -45px;
  }

  .roseBottomRight {
    bottom: -420px;
    right: -148px;
  }
}
