.section {
  position: relative;
  padding: 64px 0 0;
  overflow: hidden;
  background: var(--color-green-primary);
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-bottom: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
  text-align: center;
}

.header h2,
.header p {
  margin: 0;
}

.bar {
  height: 8px;
  background: var(--color-primary-yellow);
}

@media (max-width: 809.98px) {
  .section {
    padding-top: 48px;
  }

  .container {
    gap: 32px;
    padding-bottom: 24px;
  }
}
